# Terraform files
iac/.terraform/
iac/.terraform.lock.hcl
iac/*.tfstate
iac/*.tfstate.*
iac/terraform.tfvars
iac/*.tfvars.json
local
/local
# Zip files

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo